    @font-face {
        font-family: Hind Siliguri;
        src: url('../fonts/HindSiliguri-Regular.ttf');
    }
    
    .nav-ativo {
        height: 3px;
        background: #5aa897;
    }
    
    .center {
        display: flex;
        margin: 2%;
    }
    
    .section-home .info .divider {
        margin: 5%;
        height: 3px;
        background: #131219;
    }
    
    .section-home {
        background: #15141C;
        width: 65%;
        color: #fff;
        display: flex;
    }
    
    .section-home .info {
        display: block;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    
    .section-home .title {
        margin-top: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5px;
    }
    
    .section-home .title img {
        width: 200px;
        margin-right: 30px;
    }
    
    .section-home .title {
        font-family: Hind Siliguri;
        font-style: normal;
        font-weight: 700;
        font-size: 1.5em;
        color: #C7C7CA;
    }
    
    .section-home .title h2 strong {
        font-family: Hind Siliguri;
        font-style: normal;
        font-weight: 700;
        font-size: 1.5em;
        color: #5aa897;
        font-weight: 900;
    }
    
    .section-home .about {
        margin-top: 20px;
        margin-left: 50px;
        display: block;
        padding: 5px;
    }
    
    .section-home .about h3 {
        font-family: Hind Siliguri;
        font-style: normal;
        font-weight: 700;
        font-size: 1.5em;
        text-transform: uppercase;
        color: #C7C7CA;
        font-weight: 900;
    }
    
    .section-home .about p {
        color: #5A606F;
        font-family: Hind Siliguri;
        font-style: normal;
        font-weight: 700;
        font-size: 1em;
    }
    
    .section-home .criadores h2 {
        margin-top: 20px;
        margin-left: 50px;
        font-family: Hind Siliguri;
        font-style: normal;
        font-weight: 700;
        font-size: 1.5em;
        text-transform: uppercase;
        color: #C7C7CA;
        font-weight: 900;
    }
    
    .section-home .members {
        margin-left: 50px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }
    
    .section-home .members div {
        margin-right: 50px;
        width: 220px;
    }
    
    .section-home .members h3 {
        font-family: Hind Siliguri;
        font-style: normal;
        font-weight: 700;
        font-size: 1em;
        text-transform: uppercase;
        color: #C7C7CA;
        font-weight: 900;
    }
    
    .section-home .members .foto {
        width: 130px;
        margin-bottom: 20px;
    }
    
    .section-home .members .instagram {
        width: 40px;
    }
    
    .section-home .email h2 {
        margin-left: 50px;
        margin-bottom: 10px;
        font-family: Hind Siliguri;
        font-style: normal;
        font-weight: 700;
        font-size: 1.5em;
        text-transform: uppercase;
        color: #C7C7CA;
        font-weight: 900;
    }
    
    .colas {
        width: 35%;
        max-height: 155vh;
    }
    
    .colas:hover img {
        opacity: 0.7;
        cursor: pointer;
        animation: ease-in;
        transition: 1.5s;
    }
    
    .colas img {
        width: 450px;
        mix-blend-mode: normal;
        opacity: 0.1;
        background-repeat: repeat;
        transition: 1.5s;
    }
    
    @media only screen and (max-device-width: 600px) {
        .section-home {
            width: 100%;
            color: #fff;
        }
        .center {
            display: block;
        }
        .section-home .members {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
        }
        .section-home .members div {
            margin-right: 50px;
            width: 180px;
        }
        .section-home .members h3 {
            font-family: Hind Siliguri;
            font-style: normal;
            font-weight: 700;
            font-size: 0.8em;
            text-transform: uppercase;
            color: #C7C7CA;
            font-weight: 900;
        }
        .colas {
            display: block;
            width: 100%;
            margin: 0;
        }
        .colas:hover img {
            opacity: 0.7;
            cursor: pointer;
            animation: ease-in;
            transition: 1.5s;
        }
        .center .colas img {
            width: 100%;
            mix-blend-mode: normal;
            opacity: 0.1;
            background-repeat: repeat;
            transition: 1.5s;
        }
        .section-home .title img {
            width: 120px;
            margin-right: 30px;
        }
    }