                body {
                    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
                    overflow-x: hidden;
                    background-color: #131219;
                }
                
                @font-face {
                    font-family: Hind Siliguri;
                    src: url('../fonts/HindSiliguri-Regular.ttf');
                }
                
                 ::-moz-selection {
                    /* Code for Firefox */
                    background: #5aa897;
                    color: #ffffff;
                }
                
                 ::selection {
                    background: #5aa897;
                    color: #ffffff;
                }
                
                .dropdown-menu {
                    background: #303140 !important;
                    font-weight: bold !important;
                    max-height: 350px;
                    overflow: auto;
                }
                
                .dropdown-item {
                    background: #303140 !important;
                    color: #131219 !important;
                    text-transform: capitalize;
                    font-size: 1.3em !important;
                    font-weight: 1000!important;
                }
                
                .dropdown-item:hover {
                    background-color: #5aa897 !important;
                }
                
                li {
                    list-style: none;
                }
                
                .nav-link {
                    height: 40px !important;
                    font-family: Hind Siliguri !important;
                }
                
                .nav-link {
                    height: 40px !important;
                    margin-top: 10px;
                }
                
                .navactive {
                    border-bottom: 3px solid #5aa897;
                }
                
                .navbar-brand img {
                    width: 40px !important;
                }
                
                h1,
                h2,
                h3,
                h4,
                h5,
                h6,
                a,
                p,
                span {
                    font-family: Hind Siliguri;
                    font-weight: 700;
                }
                
                .center {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                
                .bottom-bar {
                    display: flex;
                    width: 90%;
                    background: #191821;
                    text-align: left;
                    margin: auto;
                    color: #fff;
                    padding: 15px 20px;
                    margin-bottom: 20px !important;
                }
                
                .bottom-bar-fixed {
                    display: flex;
                    position: fixed;
                    bottom: 10px;
                    left: 0;
                    right: 0;
                    width: 95%;
                    background: #191821;
                    text-align: left;
                    margin: auto;
                    color: #fff;
                    padding: 15px 20px;
                }
                
                .bottom-bar a {
                    text-decoration: none;
                }
                
                .bottom-bar h3 {
                    font-family: Hind Siliguri;
                    color: #C7C7CA;
                    font-weight: bold;
                    font-size: 1.1em;
                    margin-bottom: 5px;
                    margin-right: 15px;
                    text-transform: uppercase;
                    border-bottom: 3px solid #5aa897;
                    height: 40px;
                    cursor: pointer;
                }
                
                .bottom-bar .container {
                    margin: 0 auto;
                }
                
                .list-episodes {
                    width: 100%;
                    justify-content: center;
                    align-items: center;
                    margin-top: 3%;
                    margin-left: 5%;
                }
                
                .list-episodes h2 {
                    width: 90%;
                    padding-left: 20px;
                    background-color: hsl(167, 31%, 51%);
                    color: #C7C7CA;
                    font-weight: 700;
                    font-size: 1.2em;
                    padding-top: 5px;
                    padding-bottom: 5px;
                }
                
                .list-episodes h2 i {
                    color: #fff !important;
                    font-weight: 700;
                    padding-left: 80%;
                    cursor: pointer;
                    font-size: 1.2em;
                }
                
                .list-episodes h4 {
                    background-color: #242229;
                    width: 90%;
                    padding-top: 5px;
                    padding-bottom: 5px;
                    color: #C7C7CA;
                    font-size: 1rem;
                    flex-wrap: wrap;
                    font-weight: 700;
                    padding-left: 20px;
                }
                
                .list-episodes a {
                    color: #5aa897;
                    text-decoration: none;
                }
                
                .list-episodes a:hover {
                    font-weight: 700;
                    color: #5aa897;
                }
                
                .list-episodes div {
                    background-color: #242430;
                    color: #C7C7CA;
                    font-family: Hind Siliguri;
                    font-size: 1.3em;
                    font-weight: 600;
                    width: 90%;
                    margin-top: 0.5%;
                    padding-top: 5px;
                    padding-bottom: 5px;
                    color: grey;
                    flex-wrap: wrap;
                    font-weight: 700;
                    padding-left: 20px;
                    display: flex;
                    justify-content: space-between;
                }
                
                .list-episodes strong {
                    justify-content: flex-end;
                    margin-right: 20px;
                }
                
                .list-episodes div:hover {
                    background-color: #37343f;
                    cursor: pointer;
                }
                
                #myBtnContainer {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    overflow: hidden;
                    flex-wrap: wrap;
                    margin: 2%;
                }
                
                input:focus {
                    outline: none;
                    box-shadow: none;
                }
                
                .dropdown-item:hover {
                    cursor: pointer;
                }
                
                .btn {
                    position: relative;
                    display: inline-block;
                    padding: 15px 30px;
                    margin-top: 20px;
                    background: #5aa897;
                    text-transform: uppercase;
                    color: #fff;
                    text-decoration: none;
                    font-size: 0.8em;
                    font-weight: 700;
                    margin: 10px;
                }
                
                .section-animes {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: #131219;
                    flex-wrap: wrap;
                    margin-top: 5%;
                }
                
                .hide {
                    display: none !important;
                }
                
                .filterDiv {
                    display: none;
                }
                
                .show {
                    display: block;
                }
                
                .subtitle {
                    font-size: 20px;
                    color: aliceblue;
                    font-weight: 500;
                }
                
                .text-demo {
                    font-size: 0.8rem;
                    color: rgba(255, 255, 255, 0.8);
                    font-style: italic;
                }
                
                .card-animes {
                    display: grid;
                    position: relative;
                    grid-template-columns: 350px;
                    grid-template-rows: 400px 150px 50px;
                    grid-template-areas: "image""text""stats";
                    border-radius: 5px;
                    background: #15141B;
                    text-align: center;
                    transition: 0.2s ease;
                    cursor: pointer;
                    margin: 20px;
                    transition: 0.2s ease;
                    color: white;
                }
                
                .card-animes .sinopse:hover {
                    opacity: 0.8;
                    animation: ease-in;
                    transition-duration: 0.7s;
                }
                
                .card-animes .sinopse {
                    animation: ease-in;
                    transition-duration: 0.7s;
                    display: none;
                    height: 400px;
                    width: 350px;
                    background: #15141B;
                    opacity: 0;
                    display: flex;
                    place-items: center;
                }
                
                .card-animes .anime-name {
                    color: #C7C7CA;
                    font-weight: 700;
                    font-size: 1.8em;
                    text-transform: capitalize;
                }
                
                .card-animes .sinopse p {
                    text-align: justify;
                    margin-right: 15px;
                    margin-left: 15px;
                }
                
                .favorite .heart i {
                    color: #dc3545;
                }
                
                .favorite .heart i:hover {
                    color: #fff;
                }
                
                .card-animes-image {
                    grid-area: image;
                }
                
                .card-animes-text {
                    grid-area: text;
                    margin-top: 15px;
                }
                
                .card-animes-stats {
                    font-size: 10px;
                    grid-area: stats;
                    display: flex;
                    justify-content: flex-start;
                    border-bottom-left-radius: 5px;
                    border-bottom-right-radius: 5px;
                    background: #5aa897;
                    height: 50px;
                }
                
                .card-animes a {
                    text-decoration: none;
                }
                
                .card-animes-stats .stat {
                    margin-top: 5px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    color: white;
                }
                
                .card-animes-stats .stat h5 {
                    font-size: 1.5em;
                    letter-spacing: 1px;
                    color: #191821;
                    font-weight: 700;
                }
                
                .card-animes-stats .stat i {
                    font-size: 1em;
                    padding-right: 10px;
                }
                
                .card-animes-stats .stat:nth-child(1) {
                    padding-left: 30px;
                }
                
                .card-animes-stats .stat:nth-child(2) {
                    padding-left: 10px;
                }
                
                .card-animes-stats .stat a {
                    color: #191821;
                    font-weight: 700;
                }
                
                .card-animes-stats .stat a:hover {
                    color: #fff;
                }
                
                .card-animes-stats .type {
                    font-size: 11px;
                    font-weight: 300;
                    text-transform: uppercase;
                }
                
                .card-animes-stats .value {
                    font-size: 22px;
                    font-weight: 500;
                }
                
                .card-animes-image {
                    grid-area: image;
                    border-top-left-radius: 5px;
                    border-top-right-radius: 5px;
                }
                
                .tecnology {
                    color: #5A606F;
                    margin: auto;
                    font-weight: 500;
                    font-size: 0.92em;
                    text-transform: uppercase;
                    font-family: Hind Siliguri;
                }
                
                .card-animes-text p {
                    color: grey;
                    font-size: 15px;
                    font-weight: 700;
                }
                
                .card-animes-text h2 {
                    margin-top: 0px;
                    font-size: 28px;
                }
                
                .banner {
                    position: relative;
                    width: 100%;
                    min-height: 100vh;
                    padding: 0 100px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                
                .banner .banner-bg {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
                
                .details {
                    display: block;
                }
                
                .details h3 {
                    color: #fff;
                    letter-spacing: 1px;
                    font-weight: 100;
                    font-size: 1.3em;
                }
                
                #search {
                    height: 6vh;
                    font-family: Hind Siliguri;
                    color: #C7C7CA;
                    font-weight: bold;
                    background: #303140;
                    border: none;
                    font-size: 1.1rem;
                    width: 30vw;
                    padding-left: 45px;
                    float: right;
                }
                
                @media only screen and (max-device-width: 800px) {
                    #search {
                        height: 6vh;
                        background: #2b303b;
                        border: none;
                        font-size: 1.2em;
                        color: #fff;
                        width: 100%;
                        padding-left: 45px;
                        float: right;
                    }
                    .section-animes {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin-left: auto;
                        margin-right: auto;
                        width: 100%;
                        margin-top: 30%;
                    }
                    .card-animes {
                        display: grid;
                        position: relative;
                        grid-template-columns: 100%;
                        grid-template-rows: 400px 150px 70px;
                        grid-template-areas: "image""text""stats";
                        border-radius: 5px;
                        background: #15141B;
                        text-align: center;
                        transition: 0.2s ease;
                        cursor: pointer;
                        margin: 10px;
                        transition: 0.2s ease;
                        color: white;
                    }
                    .card-animes-text {
                        grid-area: text;
                        margin: auto 0;
                    }
                    .card-animes .sinopse:hover {
                        opacity: 0.8;
                        animation: ease-in;
                        transition-duration: 0.7s;
                    }
                    .card-animes .sinopse {
                        animation: ease-in;
                        transition-duration: 0.7s;
                        display: none;
                        height: 400px;
                        width: 100%;
                        background: #15141B;
                        opacity: 0;
                        display: flex;
                        place-items: center;
                    }
                }