                    body {
                        font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
                        overflow-x: hidden;
                        background-color: #131219;
                    }
                    
                    li {
                        list-style: none;
                    }
                    
                    h1,
                    h2,
                    h3,
                    h4,
                    h5,
                    h6 {
                        font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
                        font-weight: 700;
                    }
                    
                    .section-home-naruto {
                        padding: 0;
                        margin: 0;
                        box-sizing: border-box;
                        position: relative;
                        widows: 100%;
                        min-height: 100vh;
                        background: #131219;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                    }
                    
                    .section-home-naruto:before {
                        content: '';
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        background: #8524D1;
                        clip-path: circle(50% at 100% 80%);
                    }
                    
                    .home-content-naruto {
                        position: relative;
                        padding: 100px 50px 100px 150px;
                        box-sizing: border-box;
                    }
                    
                    .home-content-naruto-naruto h2 {
                        color: #fff;
                        font-size: 3em;
                        font-weight: 800;
                        margin-bottom: 50px;
                    }
                    
                    .home-content-naruto p {
                        color: #fff;
                        font-size: 1.2em;
                    }
                    
                    .home-content-naruto .botao {
                        position: relative;
                        display: inline-block;
                        padding: 15px 30px;
                        margin-top: 20px;
                        background: #F99501;
                        color: #fff;
                        text-transform: uppercase;
                        text-decoration: none;
                        font-size: 0.95em;
                        font-weight: 700;
                    }
                    
                    .img-anime {
                        position: relative;
                        display: flex;
                        width: 60%;
                    }
                    
                    .logo-image {
                        position: relative;
                        display: flex;
                        width: 80%;
                        justify-content: flex-start;
                    }
                    
                    .section-home-naruto {
                        padding: 0;
                        margin: 0;
                        box-sizing: border-box;
                        position: relative;
                        widows: 100%;
                        min-height: 100vh;
                        background: #131219;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                    }
                    
                    .section-home-naruto:before {
                        content: '';
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        background: #F99501!important;
                        clip-path: circle(50% at 100% 80%);
                    }
                    
                    .home-content-naruto {
                        position: relative;
                        padding: 100px 50px 100px 150px;
                        box-sizing: border-box;
                    }
                    
                    .section-home-death-note {
                        padding: 0;
                        margin: 0;
                        box-sizing: border-box;
                        position: relative;
                        widows: 100%;
                        min-height: 100vh;
                        background: #131219;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                    }
                    
                    .section-home-death-note:before {
                        content: '';
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        background: #C80202;
                        clip-path: circle(50% at 100% 80%);
                    }
                    
                    .home-content-death-note {
                        position: relative;
                        padding: 100px 50px 100px 150px;
                        box-sizing: border-box;
                    }
                    
                    .home-content-death-note-death-note h2 {
                        color: #fff;
                        font-size: 3em;
                        font-weight: 800;
                        margin-bottom: 50px;
                    }
                    
                    .home-content-death-note p {
                        color: #fff;
                        font-size: 1.2em;
                    }
                    
                    .home-content-death-note .botao {
                        position: relative;
                        display: inline-block;
                        padding: 15px 30px;
                        margin-top: 20px;
                        background: #C80202;
                        color: #fff;
                        text-transform: uppercase;
                        text-decoration: none;
                        font-size: 0.95em;
                        font-weight: 700;
                    }
                    
                    .section-home-one-piece {
                        padding: 0;
                        margin: 0;
                        box-sizing: border-box;
                        position: relative;
                        widows: 100%;
                        min-height: 100vh;
                        background: #131219;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                    }
                    
                    .section-home-one-piece:before {
                        content: '';
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        background: #3390FF;
                        clip-path: circle(50% at 100% 80%);
                    }
                    
                    .home-content-one-piece {
                        position: relative;
                        padding: 100px 50px 100px 150px;
                        box-sizing: border-box;
                    }
                    
                    .home-content-naruto-naruto h2 {
                        color: #fff;
                        font-size: 3em;
                        font-weight: 800;
                        margin-bottom: 50px;
                    }
                    
                    .home-content-one-piece p {
                        color: #fff;
                        font-size: 1.2em;
                    }
                    
                    .home-content-one-piece .botao {
                        position: relative;
                        display: inline-block;
                        padding: 15px 30px;
                        margin-top: 20px;
                        background: #3390FF;
                        color: #fff;
                        text-transform: uppercase;
                        text-decoration: none;
                        font-size: 0.95em;
                        font-weight: 700;
                    }
                    
                    .section-home-toradora {
                        padding: 0;
                        margin: 0;
                        box-sizing: border-box;
                        position: relative;
                        widows: 100%;
                        min-height: 100vh;
                        background: #131219;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                    }
                    
                    .section-home-toradora:before {
                        content: '';
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        background: #82d0f5;
                        clip-path: circle(50% at 100% 80%);
                    }
                    
                    .home-content-toradora {
                        position: relative;
                        padding: 100px 50px 100px 150px;
                        box-sizing: border-box;
                    }
                    
                    .home-content-toradora p {
                        color: #fff;
                        font-size: 1.2em;
                    }
                    
                    .home-content-toradora .botao {
                        position: relative;
                        display: inline-block;
                        padding: 15px 30px;
                        margin-top: 20px;
                        background: #82d0f5;
                        color: #fff;
                        text-transform: uppercase;
                        text-decoration: none;
                        font-size: 0.95em;
                        font-weight: 700;
                    }
                    
                    .section-home-kaguya {
                        padding: 0;
                        margin: 0;
                        box-sizing: border-box;
                        position: relative;
                        widows: 100%;
                        width: 100%;
                        min-height: 100vh;
                        background: #131219;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                    }
                    
                    .section-home-kaguya:before {
                        content: '';
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        background: #C80202;
                        clip-path: circle(50% at 100% 80%);
                    }
                    
                    .home-content-kaguya {
                        position: relative;
                        padding: 100px 50px 100px 150px;
                        box-sizing: border-box;
                    }
                    
                    .home-content-kaguya p {
                        color: #fff;
                        font-size: 1.2em;
                    }
                    
                    .home-content-kaguya .botao {
                        position: relative;
                        display: inline-block;
                        padding: 15px 30px;
                        margin-top: 20px;
                        background: #C80202;
                        color: #fff;
                        text-transform: uppercase;
                        text-decoration: none;
                        font-size: 0.95em;
                        font-weight: 700;
                    }
                    
                    .section-home-promised {
                        padding: 0;
                        margin: 0;
                        box-sizing: border-box;
                        position: relative;
                        widows: 100%;
                        min-height: 100vh;
                        background: #131219;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                    }
                    
                    .section-home-promised:before {
                        content: '';
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        background: #f2e7e6;
                        clip-path: circle(50% at 100% 80%);
                    }
                    
                    .home-content-promised {
                        position: relative;
                        padding: 100px 50px 100px 150px;
                        box-sizing: border-box;
                    }
                    
                    .home-content-promised p {
                        color: #fff;
                        font-size: 1.2em;
                    }
                    
                    .home-content-promised .botao {
                        position: relative;
                        display: inline-block;
                        padding: 15px 30px;
                        margin-top: 20px;
                        background: #f2e7e6;
                        text-transform: uppercase;
                        text-decoration: none;
                        font-size: 0.95em;
                        font-weight: 700;
                    }
                    
                    .section-home-madoka {
                        padding: 0;
                        margin: 0;
                        box-sizing: border-box;
                        position: relative;
                        widows: 100%;
                        min-height: 100vh;
                        background: #131219;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                    }
                    
                    .section-home-madoka:before {
                        content: '';
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        background: #fda1a5;
                        clip-path: circle(50% at 100% 80%);
                    }
                    
                    .home-content-madoka {
                        position: relative;
                        padding: 100px 50px 100px 150px;
                        box-sizing: border-box;
                    }
                    
                    .home-content-madoka p {
                        color: #fff;
                        font-size: 1.2em;
                    }
                    
                    .home-content-madoka .botao {
                        position: relative;
                        display: inline-block;
                        padding: 15px 30px;
                        margin-top: 20px;
                        color: #fff;
                        background: #fda1a5;
                        text-transform: uppercase;
                        text-decoration: none;
                        font-size: 0.95em;
                        font-weight: 700;
                    }
                    
                    .section-home-sailor {
                        padding: 0;
                        margin: 0;
                        box-sizing: border-box;
                        position: relative;
                        widows: 100%;
                        min-height: 100vh;
                        background: #131219;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                    }
                    
                    .section-home-sailor:before {
                        content: '';
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        background: #ff4184;
                        clip-path: circle(50% at 100% 80%);
                    }
                    
                    .home-content-sailor {
                        position: relative;
                        padding: 100px 50px 100px 150px;
                        box-sizing: border-box;
                    }
                    
                    .home-content-sailor p {
                        color: #fff;
                        font-size: 1.2em;
                    }
                    
                    .home-content-sailor .botao {
                        position: relative;
                        display: inline-block;
                        padding: 15px 30px;
                        margin-top: 20px;
                        background: #ff4184;
                        text-transform: uppercase;
                        color: #fff;
                        text-decoration: none;
                        font-size: 0.95em;
                        font-weight: 700;
                    }
                    
                    .section-home-kimetsu {
                        padding: 0;
                        margin: 0;
                        box-sizing: border-box;
                        position: relative;
                        widows: 100%;
                        min-height: 100vh;
                        background: #131219;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                    }
                    
                    .section-home-kimetsu:before {
                        content: '';
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        background: #b91e3e;
                        clip-path: circle(50% at 100% 80%);
                    }
                    
                    .home-content-kimetsu {
                        position: relative;
                        padding: 100px 50px 100px 150px;
                        box-sizing: border-box;
                    }
                    
                    .home-content-kimetsu p {
                        color: #fff;
                        font-size: 1.2em;
                    }
                    
                    .home-content-kimetsu .botao {
                        position: relative;
                        display: inline-block;
                        padding: 15px 30px;
                        margin-top: 20px;
                        background: #b91e3e;
                        text-transform: uppercase;
                        color: #fff;
                        text-decoration: none;
                        font-size: 0.95em;
                        font-weight: 700;
                    }
                    
                    .section-home-orange {
                        padding: 0;
                        margin: 0;
                        box-sizing: border-box;
                        position: relative;
                        widows: 100%;
                        min-height: 100vh;
                        background: #131219;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                    }
                    
                    .section-home-orange:before {
                        content: '';
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        background: #cc8d52;
                        clip-path: circle(50% at 100% 80%);
                    }
                    
                    .home-content-orange {
                        position: relative;
                        padding: 100px 50px 100px 150px;
                        box-sizing: border-box;
                    }
                    
                    .home-content-orange p {
                        color: #fff;
                        font-size: 1.2em;
                    }
                    
                    .home-content-orange .botao {
                        position: relative;
                        display: inline-block;
                        padding: 15px 30px;
                        margin-top: 20px;
                        background: #cc8d52;
                        color: #fff;
                        text-transform: uppercase;
                        text-decoration: none;
                        font-size: 0.95em;
                        font-weight: 700;
                    }
                    
                    .section-home-gata {
                        padding: 0;
                        margin: 0;
                        box-sizing: border-box;
                        position: relative;
                        widows: 100%;
                        min-height: 100vh;
                        background: #131219;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                    }
                    
                    .section-home-gata:before {
                        content: '';
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        background: #f3e8c2;
                        clip-path: circle(50% at 100% 80%);
                    }
                    
                    .home-content-gata {
                        position: relative;
                        padding: 100px 50px 100px 150px;
                        box-sizing: border-box;
                    }
                    
                    .home-content-gata p {
                        color: #fff;
                        font-size: 1.2em;
                    }
                    
                    .home-content-gata .botao {
                        position: relative;
                        display: inline-block;
                        padding: 15px 30px;
                        margin-top: 20px;
                        background: #f3e8c2;
                        text-transform: uppercase;
                        text-decoration: none;
                        font-size: 0.95em;
                        font-weight: 700;
                    }
                    
                    .section-home-loveu {
                        padding: 0;
                        margin: 0;
                        box-sizing: border-box;
                        position: relative;
                        widows: 100%;
                        min-height: 100vh;
                        background: #131219;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                    }
                    
                    .section-home-loveu:before {
                        content: '';
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        background: #ec6d75;
                        clip-path: circle(55% at 100% 80%);
                    }
                    
                    .home-content-loveu {
                        position: relative;
                        padding: 100px 50px 100px 150px;
                        box-sizing: border-box;
                    }
                    
                    .home-content-loveu p {
                        color: #fff;
                        font-size: 1.2em;
                    }
                    
                    .home-content-loveu .botao {
                        position: relative;
                        display: inline-block;
                        padding: 15px 30px;
                        margin-top: 20px;
                        background: #ec6d75;
                        color: #fff;
                        text-transform: uppercase;
                        text-decoration: none;
                        font-size: 0.95em;
                        font-weight: 700;
                    }
                    
                    .section-home-charlotte {
                        padding: 0;
                        margin: 0;
                        box-sizing: border-box;
                        position: relative;
                        widows: 100%;
                        min-height: 100vh;
                        background: #131219;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                    }
                    
                    .section-home-charlotte:before {
                        content: '';
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        background: #ae4445;
                        clip-path: circle(50% at 100% 80%);
                    }
                    
                    .home-content-charlotte {
                        position: relative;
                        padding: 100px 50px 100px 150px;
                        box-sizing: border-box;
                    }
                    
                    .home-content-charlotte p {
                        color: #fff;
                        font-size: 1.2em;
                    }
                    
                    .home-content-charlotte .botao {
                        position: relative;
                        display: inline-block;
                        padding: 15px 30px;
                        margin-top: 20px;
                        background: #ae4445;
                        color: #fff;
                        text-transform: uppercase;
                        text-decoration: none;
                        font-size: 0.95em;
                        font-weight: 700;
                    }
                    
                    .section-home-mirai-nikki {
                        padding: 0;
                        margin: 0;
                        box-sizing: border-box;
                        position: relative;
                        widows: 100%;
                        min-height: 100vh;
                        background: #131219;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                    }
                    
                    .section-home-mirai-nikki:before {
                        content: '';
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        background: #ffacbb;
                        clip-path: circle(55% at 100% 80%);
                    }
                    
                    .home-content-mirai-nikki {
                        position: relative;
                        padding: 100px 50px 100px 150px;
                        box-sizing: border-box;
                    }
                    
                    .home-content-mirai-nikki p {
                        color: #fff;
                        font-size: 1.2em;
                    }
                    
                    .home-content-mirai-nikki .botao {
                        position: relative;
                        display: inline-block;
                        padding: 15px 30px;
                        margin-top: 20px;
                        background: #ffacbb;
                        color: #fff;
                        text-transform: uppercase;
                        text-decoration: none;
                        font-size: 0.95em;
                        font-weight: 700;
                    }
                    
                    .section-home-evangelion {
                        padding: 0;
                        margin: 0;
                        box-sizing: border-box;
                        position: relative;
                        widows: 100%;
                        min-height: 100vh;
                        background: #131219;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                    }
                    
                    .section-home-evangelion:before {
                        content: '';
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        background: #f56d25;
                        clip-path: circle(55% at 100% 80%);
                    }
                    
                    .home-content-evangelion {
                        position: relative;
                        padding: 100px 50px 100px 150px;
                        box-sizing: border-box;
                    }
                    
                    .home-content-evangelion p {
                        color: #fff;
                        font-size: 1.2em;
                    }
                    
                    .home-content-evangelion .botao {
                        position: relative;
                        display: inline-block;
                        padding: 15px 30px;
                        margin-top: 20px;
                        background: #f56d25;
                        color: #fff;
                        text-transform: uppercase;
                        text-decoration: none;
                        font-size: 0.95em;
                        font-weight: 700;
                    }
                    
                    .section-home-cowboy {
                        padding: 0;
                        margin: 0;
                        box-sizing: border-box;
                        position: relative;
                        widows: 100%;
                        min-height: 100vh;
                        background: #131219;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                    }
                    
                    .section-home-cowboy:before {
                        content: '';
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        background: #f7d36f;
                        clip-path: circle(55% at 100% 80%);
                    }
                    
                    .home-content-cowboy {
                        position: relative;
                        padding: 100px 50px 100px 150px;
                        box-sizing: border-box;
                    }
                    
                    .home-content-cowboy p {
                        color: #fff;
                        font-size: 1.2em;
                    }
                    
                    .home-content-cowboy .botao {
                        position: relative;
                        display: inline-block;
                        padding: 15px 30px;
                        margin-top: 20px;
                        background: #f7d36f;
                        text-transform: uppercase;
                        text-decoration: none;
                        font-size: 0.95em;
                        font-weight: 700;
                    }
                    
                    .banner {
                        position: relative;
                        width: 100%;
                        min-height: 100vh;
                        padding: 0 100px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                    
                    .banner .banner-bg {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                    
                    .episode {
                        position: fixed;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        z-index: 100000;
                        width: 100%;
                        height: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        backdrop-filter: blur(20px);
                        visibility: hidden;
                        opacity: 0;
                    }
                    
                    .episode.active {
                        visibility: visible;
                        opacity: 1;
                    }
                    
                    .episode video {
                        max-width: 900px;
                        outline: none;
                    }
                    
                    .close {
                        position: absolute;
                        top: 30px;
                        right: 30px;
                        cursor: pointer;
                        filter: invert(1);
                        max-width: 32px;
                    }
                    
                    @media only screen and (max-device-width: 1100px) {
                        .imgBx {
                            display: none;
                        }
                    }
                    
                    @media only screen and (max-device-width: 800px) {
                        .home-content-naruto {
                            position: relative;
                            width: 100%;
                            padding-left: 30px;
                        }
                        .section-home:before {
                            display: none;
                        }
                        .imgBx {
                            display: none;
                        }
                        body {
                            overflow-x: hidden;
                        }
                        .section-animes {
                            display: block;
                            justify-content: center;
                            height: 100%;
                        }
                        .title-project {
                            font-weight: 800;
                            color: #fff;
                            letter-spacing: 1;
                        }
                    }