                    body {
                        font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
                        overflow-x: hidden;
                        background-color: #131219;
                    }
                    
                    li {
                        list-style: none;
                    }
                    
                    h1,
                    h2,
                    h3,
                    h4,
                    h5,
                    h6 {
                        font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
                        font-weight: 700;
                    }
                    
                    .section-home-death-note {
                        padding: 0;
                        margin: 0;
                        box-sizing: border-box;
                        position: relative;
                        widows: 100%;
                        min-height: 100vh;
                        background: #131219;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                    }
                    
                    .section-home-death-note:before {
                        content: '';
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        background: #E51717;
                        clip-path: circle(50% at 100% 80%);
                    }
                    
                    .home-content-death-note {
                        position: relative;
                        padding: 100px 50px 100px 150px;
                        box-sizing: border-box;
                    }
                    
                    .home-content-death-note-death-note h2 {
                        color: #fff;
                        font-size: 3em;
                        font-weight: 800;
                        margin-bottom: 50px;
                    }
                    
                    .home-content-death-note h3 {
                        color: aliceblue;
                        font-size: 1.3em;
                        font-weight: 100;
                        margin-bottom: 50px;
                    }
                    
                    .home-content-death-note .stars h3 {
                        font-size: 1.2rem;
                    }
                    
                    .home-content-death-note p {
                        color: #fff;
                        font-size: 1.2em;
                    }
                    
                    .home-content-death-note .botao {
                        position: relative;
                        display: inline-block;
                        padding: 15px 30px;
                        margin-top: 20px;
                        background: #E51717;
                        color: #fff;
                        text-transform: uppercase;
                        text-decoration: none;
                        font-size: 0.95em;
                        font-weight: 700;
                    }
                    
                    .img-death-note {
                        position: relative;
                        display: flex;
                        width: 60%;
                        justify-content: flex-end;
                    }
                    
                    .logo-image {
                        position: relative;
                        display: flex;
                        width: 80%;
                        justify-content: flex-start;
                    }
                    
                    .section-home-death-note {
                        padding: 0;
                        margin: 0;
                        box-sizing: border-box;
                        position: relative;
                        widows: 100%;
                        min-height: 100vh;
                        background: #131219;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                    }
                    
                    .section-home-death-note:before {
                        content: '';
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        background: #E51717!important;
                        clip-path: circle(50% at 100% 80%);
                    }
                    
                    .home-content-death-note {
                        position: relative;
                        padding: 100px 50px 100px 150px;
                        box-sizing: border-box;
                    }
                    
                    .banner {
                        position: relative;
                        width: 100%;
                        min-height: 100vh;
                        padding: 0 100px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                    
                    .banner .banner-bg {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                    
                    .episode {
                        position: fixed;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        z-index: 100000;
                        width: 100%;
                        height: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        backdrop-filter: blur(20px);
                        visibility: hidden;
                        opacity: 0;
                    }
                    
                    .episode.active {
                        visibility: visible;
                        opacity: 1;
                    }
                    
                    .episode video {
                        max-width: 900px;
                        outline: none;
                    }
                    
                    .close {
                        position: absolute;
                        top: 30px;
                        right: 30px;
                        cursor: pointer;
                        filter: invert(1);
                        max-width: 32px;
                    }
                    
                    @media only screen and (max-device-width: 1100px) {
                        .imgBx {
                            display: none;
                        }
                    }
                    
                    @media only screen and (max-device-width: 800px) {
                        .home-content-death-note {
                            position: relative;
                            width: 100%;
                            padding-left: 30px;
                        }
                        .section-home:before {
                            display: none;
                        }
                        .imgBx {
                            display: none;
                        }
                        body {
                            overflow-x: hidden;
                        }
                        .section-animes {
                            display: block;
                            justify-content: center;
                            height: 100%;
                        }
                        .title-project {
                            font-weight: 800;
                            color: #fff;
                            letter-spacing: 1;
                        }
                    }